/* Палитра цветов */
:root {
  --main-color: #757575;
  --heading-color: #212121;
  --active-color: #2196f3;
  --secondary-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --background: #2f303a;
  --light-background: #f5f4fa;
}

/* Основные стили */
body {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

/* Логотип шапки*/
.logo-head {
  color: var(--heading-color);
}

.logo-blue {
  color: var(--active-color);
}

/* Логотип футера */
.logo-foot {
  color: var(--secondary-color);
}

/* Убрать подчёркивания у ссылок */
.link {
  text-decoration: none;
}

/* Убрать маркировку списков */
.list {
  list-style: none;
}

/* Стили для шапки */
.headnav .link {
  color: var(--heading-color);
}

.headnav .link:hover,
.headnav .link:focus {
  color: var(--active-color);
}

.contacts .link {
  color: var(--main-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--active-color);
}

.headnav .current {
  color: var(--active-color);
}

/* Стили для подвала */
.footer-box {
  background-color: var(--background);
}

.address {
  color: var(--secondary-color);
}

.info {
  color: var(--footer-color);
}

.footer-box .list {
  font-style: normal;
}
